server:
  port: 8070

spring:
  application:
    name: client001
  cloud:
    config:
      enabled: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
test: 123
